<div class="container-fluid">
    <div class="card">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Edit Calendar</h4>
                </div>
                <div class="content" *ngIf="calendarModel$ | async as calendarModel">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" [(ngModel)]="calendarModel.name" required="required"
                                       class="form-control border-input" value="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Location</label>
                                <input type="text" [(ngModel)]="calendarModel.location"
                                       class="form-control border-input" value="">
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button (click)="updateCalendar(calendarModel)" class="btn btn-info btn-fill btn-wd">Update
                            Calendar
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="card">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Booking</h4>
                </div>
                <div class="content">
                    <!--<div class="alert alert-info">-->
                        <!--Click on a day on the view.-->
                        <!--<strong *ngIf="clickedDate">You clicked on this day: {{ clickedDate | date:'medium' }}</strong>-->
                    <!--</div>-->
                    <div class="content card">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Therapy</label>
                                    <select style="height: 30px;" class="btn-block" [(ngModel)]="event.meta.therapy" #selectElem (change)="setTherapy(selectElem.value)">
                                        <option *ngFor="let therapy of therapies" [value]="therapy.name">
                                            {{therapy.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Start date</label>
                                    <angular2-date-picker [(ngModel)]="event.start"
                                                          [settings]="settings"
                                                          required="required">
                                    </angular2-date-picker>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>End date</label>
                                    <angular2-date-picker [(ngModel)]="event.end"
                                                          [settings]="settings"
                                                          required="required">
                                    </angular2-date-picker>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="text-center">
                            <button (click)="addEvent()" class="btn btn-info btn-fill btn-wd">Add
                                booking slot
                            </button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                        <div class="row text-center">
                            <div class="col-md-4">
                                <div class="btn-group">
                                    <div class="btn btn-primary" mwlCalendarPreviousView [view]="view"
                                         [(viewDate)]="viewDate"
                                         (viewDateChange)="activeDayIsOpen = false">
                                        Previous
                                    </div>
                                    <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
                                        Today
                                    </div>
                                    <div class="btn btn-primary" mwlCalendarNextView [view]="view"
                                         [(viewDate)]="viewDate"
                                         (viewDateChange)="activeDayIsOpen = false">
                                        Next
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
                            </div>
                            <div class="col-md-4">
                                <div class="btn-group">
                                    <div class="btn btn-primary" (click)="view = 'month'"
                                         [class.active]="view === 'month'">
                                        Month
                                    </div>
                                    <div class="btn btn-primary" (click)="view = 'week'"
                                         [class.active]="view === 'week'">
                                        Week
                                    </div>
                                    <div class="btn btn-primary" (click)="view = 'day'" [class.active]="view === 'day'">
                                        Day
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div [ngSwitch]="view">
                            <mwl-calendar-month-view
                                    *ngSwitchCase="'month'"
                                    [viewDate]="viewDate"
                                    [events]="events"
                                    [refresh]="refresh"
                                    [activeDayIsOpen]="activeDayIsOpen"
                                    (dayClicked)="dayClicked($event.day)"
                                    (eventClicked)="handleEvent('Clicked', $event.event)"
                                    (eventTimesChanged)="eventTimesChanged($event)">
                            </mwl-calendar-month-view>
                            <mwl-calendar-week-view
                                    *ngSwitchCase="'week'"
                                    [viewDate]="viewDate"
                                    [events]="events"
                                    [refresh]="refresh"
                                    (eventClicked)="handleEvent('Clicked', $event.event)"
                                    (eventTimesChanged)="eventTimesChanged($event)">
                            </mwl-calendar-week-view>
                            <mwl-calendar-day-view
                                    *ngSwitchCase="'day'"
                                    [viewDate]="viewDate"
                                    [events]="events"
                                    [refresh]="refresh"
                                    (eventClicked)="handleEvent('Clicked', $event.event)"
                                    (eventTimesChanged)="eventTimesChanged($event)">
                            </mwl-calendar-day-view>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>