<div class="container-fluid">
    <div class="card">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Edit Calendar</h4>
                </div>
                <div class="content">
                    <div>Bookding date</div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Start Time</th>
                                <th>End Time</th>
                                <th>Availability</th>
                                <th>Booked</th>
                                <th>Accepted</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let bookingItem of bookingItems$">
                                <td>{{bookingItem.startTime | date:'dd-MM-yyyy'}}</td>
                                <td>{{bookingItem.startTime | date:'dd-MM-yyyy'}}</td>
                                <td>{{bookingItem.startTime | date:'dd-MM-yyyy'}}</td>
                                <td>
                                    <button (click)="editCalander(bookingItem.id)" class="btn btn-icon btn-success"><i class="ti-write"></i> Edit</button>
                                    <button (click)="deleteCalendar(bookingItem.id)" class="btn btn-icon btn-danger"><i class="ti-trash"></i>Delete</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>