    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-7">
                <div class="card card-user" style="padding-bottom: 105px;">
                    <div class="image">
                        <img src="assets/img/background.jpg" alt="..."/>
                    </div>
                    <div class="content">
                        <div class="author">
                          <img class="avatar border-white" src="assets/img/faces/face-2.jpg" alt="..."/>
                          <h4 class="title">Chet Faker<br />
                             <a href="#"><small>@chetfaker</small></a>
                          </h4>
                        </div>
                    </div>
                    <hr>
                    <div class="text-center">
                        <div class="row">
                            <div class="col-md-3 col-md-offset-1">
                                <h5>4<br /><small>Open Bookings</small></h5>
                            </div>
                            <div class="col-md-4">
                                <h5>2<br /><small>Completed Bookings</small></h5>
                            </div>
                            <div class="col-md-3">
                                <h5>1<br /><small>Open Payment</small></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-7">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Edit Profile</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Company</label>
                                        <input type="text" class="form-control border-input" disabled placeholder="Company" value="Creative Code Inc.">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Username</label>
                                        <input type="text" class="form-control border-input" placeholder="Username" value="michael23">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email address</label>
                                        <input type="email" class="form-control border-input" placeholder="Email">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>First Name</label>
                                        <input type="text" class="form-control border-input" placeholder="Company" value="Chet">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Last Name</label>
                                        <input type="text" class="form-control border-input" placeholder="Last Name" value="Faker">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Address</label>
                                        <input type="text" class="form-control border-input" placeholder="Home Address" value="Melbourne, Australia">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Notes</label>
                                        <textarea rows="5" class="form-control border-input" placeholder="Here can be your description" value="Mike">
Oh so, your weak rhyme
You doubt I'll bother, reading into it
I'll probably won't, left to my own devices
But that's the difference in our opinions.</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-info btn-fill btn-wd">Update Profile</button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Dossier</h4>
                    </div>
                    <div class="content">
                        <div class="content table-responsive table-full-width">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Date</th>
                                    <th>TherapyType</th>
                                    <th>Duration</th>
                                    <th>Completed</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>2</td>
                                    <td>03-07-2018</td>
                                    <td>Therapy A</td>
                                    <td>90 min </td>
                                    <td>Yes</td>
                                    <td>
                                        <button (click)="goPatientProfile()" class="btn btn-icon btn-success"><i class="ti-write"></i> Edit</button>
                                        <button (click)="goPatientProfile()" class="btn btn-icon btn-danger"><i class="ti-trash"></i>Archive</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>04-08-2018</td>
                                    <td>Therapy B</td>
                                    <td>60 min </td>
                                    <td>No</td>
                                    <td>
                                        <button (click)="goPatientProfile()" class="btn btn-icon btn-success"><i class="ti-write"></i> Edit</button>
                                        <button (click)="goPatientProfile()" class="btn btn-icon btn-danger"><i class="ti-trash"></i>Archive</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>05-09-2018</td>
                                    <td>Therapy C</td>
                                    <td>30 min </td>
                                    <td>No</td>
                                    <td>
                                        <button (click)="goPatientProfile()" class="btn btn-icon btn-success"><i class="ti-write"></i> Edit</button>
                                        <button (click)="goPatientProfile()" class="btn btn-icon btn-danger"><i class="ti-trash"></i>Archive</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    </div>