<div class="container-fluid">
  <div>
    <button (click)="addCalendar()" class="btn btn-primary btn-margin">Add Calendar</button>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="content table-responsive table-full-width">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Name</th>
              <th>Location</th>
              <th>Date created</th>
              <th>Visible</th>
              <th>Archived</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let calendar of calendars$ | async">
              <td>{{calendar.name}}</td>
              <td>{{calendar.location}}</td>
              <td>{{calendar.dateCreated | date:'dd-MM-yyyy'}}</td>
              <td><input disabled readonly type="checkbox" class="big-checkbox" [checked]="calendar.isVisible"></td>
              <td><input disabled readonly type="checkbox" class="big-checkbox" [checked]="calendar.isArchived"></td>
              <td>
                <button (click)="editCalander(calendar.id)" class="btn btn-icon btn-success"><i class="ti-write"></i> Edit</button>
                <button (click)="deleteCalendar(calendar.id)" class="btn btn-icon btn-danger"><i class="ti-trash"></i>Delete</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
