<div class="container-fluid">
  <div>
    <button class="btn btn-primary btn-margin">Add Calendar</button>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="content table-responsive table-full-width">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Location</th>
              <th>Date created</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let calendar of calendars | async">
              <td>{{calendar.id}}</td>
              <td>{{calendar.name}}</td>
              <td>{{calendar.location}}</td>
              <td>{{calendar.dateCreated | date:'dd-MM-yyyy'}}</td>
              <td>Actions</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
